@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* === Header ===*/

    .navHeader {
        @apply  flex justify-between items-center pr-8 bg-darkPrimaryColor text-textIconsColor h-[12.5vh] gap-[30px]
    }
    .containerLogo {
        @apply w-[180px] pt-1 pb-1 pl-[30px]
    }

    .containerLinks {
        @apply hidden
    }

    .containerLogin {
        @apply hidden
    }

    .menu {
        @apply   sm:hidden
    }


    /* === Header End ===*/



    /* === @Media Querrys  ===*/
        @media screen and (min-width:640px) {
            .containerLinks {
                display: flex;
                gap: 30px;
            }

            .containerLogin {
                display: flex;
                align-items: center;
            }
        }

        @media screen and (min-width:1024px) {
            
        }
    /* === @Media Querrys End ===*/
    
}