@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* === Header ===*/

    .nav {
        @apply 
        bg-darkPrimaryColor
        text-textIconsColor
    }


    /* === Header End ===*/



    /* === @Media Querrys  ===*/
        @media screen and (min-width:640px) {
            .containerLinks {
                display: flex;
                gap: 30px;
            }

            .containerLogin {
                display: flex;
                align-items: center;
            }
        }

        @media screen and (min-width:1024px) {
            
        }
    /* === @Media Querrys End ===*/
    
}